<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegexHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RegexHelper.Properties.Settings>
            <setting name="MaxMatches" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MaxGroups" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="NppPath" serializeAs="String">
                <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
            </setting>
            <setting name="Test" serializeAs="String">
                <value>0</value>
            </setting>
        </RegexHelper.Properties.Settings>
    </userSettings>
</configuration>